<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaosiyuan.dao.MsProductInfoMapper">
  <resultMap id="BaseResultMap" type="com.yaosiyuan.entity.MsProductInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_title" jdbcType="VARCHAR" property="productTitle" />
    <result column="product_pic" jdbcType="VARCHAR" property="productPic" />
    <result column="product_og_price" jdbcType="INTEGER" property="productOgPrice" />
    <result column="miaosha_price" jdbcType="INTEGER" property="miaoshaPrice" />
    <result column="merchant" jdbcType="INTEGER" property="merchant" />
    <result column="applay_date" jdbcType="TIMESTAMP" property="applayDate" />
    <result column="aidot_date" jdbcType="TIMESTAMP" property="aidotDate" />
    <result column="aidot_status" jdbcType="INTEGER" property="aidotStatus" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="product_count" jdbcType="INTEGER" property="productCount" />
    <result column="stock_count" jdbcType="INTEGER" property="stockCount" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
  </resultMap>
  <sql id="Base_Column_List">
    id, product_id, product_title, product_pic, product_og_price, miaosha_price, merchant, 
    applay_date, aidot_date, aidot_status, start_time, end_time, product_count, stock_count, 
    desc
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ms_product_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ms_product_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yaosiyuan.entity.MsProductInfo">
    insert into ms_product_info (id, product_id, product_title, 
      product_pic, product_og_price, miaosha_price, 
      merchant, applay_date, aidot_date, 
      aidot_status, start_time, end_time, 
      product_count, stock_count, desc
      )
    values (#{id,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{productTitle,jdbcType=VARCHAR}, 
      #{productPic,jdbcType=VARCHAR}, #{productOgPrice,jdbcType=INTEGER}, #{miaoshaPrice,jdbcType=INTEGER}, 
      #{merchant,jdbcType=INTEGER}, #{applayDate,jdbcType=TIMESTAMP}, #{aidotDate,jdbcType=TIMESTAMP}, 
      #{aidotStatus,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{productCount,jdbcType=INTEGER}, #{stockCount,jdbcType=INTEGER}, #{desc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yaosiyuan.entity.MsProductInfo">
    insert into ms_product_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="productTitle != null">
        product_title,
      </if>
      <if test="productPic != null">
        product_pic,
      </if>
      <if test="productOgPrice != null">
        product_og_price,
      </if>
      <if test="miaoshaPrice != null">
        miaosha_price,
      </if>
      <if test="merchant != null">
        merchant,
      </if>
      <if test="applayDate != null">
        applay_date,
      </if>
      <if test="aidotDate != null">
        aidot_date,
      </if>
      <if test="aidotStatus != null">
        aidot_status,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="productCount != null">
        product_count,
      </if>
      <if test="stockCount != null">
        stock_count,
      </if>
      <if test="desc != null">
        desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productTitle != null">
        #{productTitle,jdbcType=VARCHAR},
      </if>
      <if test="productPic != null">
        #{productPic,jdbcType=VARCHAR},
      </if>
      <if test="productOgPrice != null">
        #{productOgPrice,jdbcType=INTEGER},
      </if>
      <if test="miaoshaPrice != null">
        #{miaoshaPrice,jdbcType=INTEGER},
      </if>
      <if test="merchant != null">
        #{merchant,jdbcType=INTEGER},
      </if>
      <if test="applayDate != null">
        #{applayDate,jdbcType=TIMESTAMP},
      </if>
      <if test="aidotDate != null">
        #{aidotDate,jdbcType=TIMESTAMP},
      </if>
      <if test="aidotStatus != null">
        #{aidotStatus,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="productCount != null">
        #{productCount,jdbcType=INTEGER},
      </if>
      <if test="stockCount != null">
        #{stockCount,jdbcType=INTEGER},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yaosiyuan.entity.MsProductInfo">
    update ms_product_info
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="productTitle != null">
        product_title = #{productTitle,jdbcType=VARCHAR},
      </if>
      <if test="productPic != null">
        product_pic = #{productPic,jdbcType=VARCHAR},
      </if>
      <if test="productOgPrice != null">
        product_og_price = #{productOgPrice,jdbcType=INTEGER},
      </if>
      <if test="miaoshaPrice != null">
        miaosha_price = #{miaoshaPrice,jdbcType=INTEGER},
      </if>
      <if test="merchant != null">
        merchant = #{merchant,jdbcType=INTEGER},
      </if>
      <if test="applayDate != null">
        applay_date = #{applayDate,jdbcType=TIMESTAMP},
      </if>
      <if test="aidotDate != null">
        aidot_date = #{aidotDate,jdbcType=TIMESTAMP},
      </if>
      <if test="aidotStatus != null">
        aidot_status = #{aidotStatus,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="productCount != null">
        product_count = #{productCount,jdbcType=INTEGER},
      </if>
      <if test="stockCount != null">
        stock_count = #{stockCount,jdbcType=INTEGER},
      </if>
      <if test="desc != null">
        desc = #{desc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yaosiyuan.entity.MsProductInfo">
    update ms_product_info
    set product_id = #{productId,jdbcType=INTEGER},
      product_title = #{productTitle,jdbcType=VARCHAR},
      product_pic = #{productPic,jdbcType=VARCHAR},
      product_og_price = #{productOgPrice,jdbcType=INTEGER},
      miaosha_price = #{miaoshaPrice,jdbcType=INTEGER},
      merchant = #{merchant,jdbcType=INTEGER},
      applay_date = #{applayDate,jdbcType=TIMESTAMP},
      aidot_date = #{aidotDate,jdbcType=TIMESTAMP},
      aidot_status = #{aidotStatus,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      product_count = #{productCount,jdbcType=INTEGER},
      stock_count = #{stockCount,jdbcType=INTEGER},
      desc = #{desc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
 
</mapper>